@model RecipeConverterWebApp.ViewModels.ConvertCustomRecipeViewModel

<h1>Recipe Converter</h1>
<br /><br />

<div class="row">
    <div class="col-sm-6" style="border: 5px solid black">
        <form asp-controller="CustomeRecipe" asp-action="CustomRecipe" id="recipe_form">
            <input type="text" name="recipe_name" id="recipe_name" placeholder="Recipe Name" />
            <br />
            <input type="text" name="recipe_desc" id="recipe_desc" placeholder="Recipe Description" />
            <br />

            <label for="origin_ss">Original Serving Size:</label>
            <label for="desired_ss">Desired Serving Size:</label>
            <br />
            <input type="number" name="origin_ss" id="origin_ss" min="0" value="0" />
            <input type="number" name="desired_ss" id="desired_ss" min="0" value="0" />

            <hr />
            Ingredients:
            <br />
            <div id="ingredients_list">
                <div class="ingredient" id="ing_0">
                    <input type="number" name="qty_0" id="qty_0" min="0" value="0" />
                    <select type="text" name="meas_0" id="meas_0" asp-items="Model.Measurements">
                    </select>
                    <input type="text" name="ingre_0" id="ingre_0" placeholder="ingredient name" />

                </div>
            </div>
            <br />
            <button id="AddIngredient" class="btn btn-primary"> Add + </button>
            <button type="submit" class="btn btn-default"> Submit </button>
        </form>
    </div>

    <div class="col-sm-6" id="recipe_result" style="border: 5px solid green">
    </div>
</div>

@*<div id="CustomRecipeLeft" class="col-sm-6">
    <form asp-controller="ConvertRecipe" asp-action="CustomRecipe" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <label asp-for="OriginalServeSize"></label>
            <input class="form-control" asp-for="OriginalServeSize" value="4" />
            <span asp-validation-for="OriginalServeSize"></span>
        </div>

        <div class="form-group">
            <label asp-for="DesiredServeSize"></label>
            <input class="form-control" asp-for="DesiredServeSize" />
            <span asp-validation-for="DesiredServeSize"></span>
        </div>

        <br />
        <p>Ingredients:</p>
        <br />

        <div id="ingredient-list">
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input class="form-control" asp-for="Quantity" />
                <span asp-validation-for="Quantity"></span>
            </div>

            <div class="form-group">
                <label asp-for="Measurements"></label>
                <select asp-for="MeasurementID" asp-items="Model.Measurements"></select>
            </div>

            <div class="form-group">
                <label asp-for="Ingredient"></label>
                <input class="form-control" asp-for="Ingredient" />
                <span asp-validation-for="Ingredient"></span>
            </div>
        </div>

        <input type="submit" value="Convert Recipe" />
    </form>
</div>

<div id="CustomRecipeRight" class="col-sm-6">
    <textarea readonly name="ConvertTextArea" placeholder="Recipe conversion will appear here." ></textarea>
</div>*@