<div class="row">
    <div class="col-sm-5 col-xs-12 bg-faded p-4 my-4">
        <h2 class="my-0-t my-4-b">Custom Recipe Converter:</h2>
        <form asp-controller="Form" asp-action="AddForm" id="recipe_form">
            <input type="text" name="recipe_name" id="recipe_name" placeholder="Recipe name" />
            <br />
            <input type="text" name="recipe_desc" id="recipe_desc" placeholder="Description" />
            <br />
                
            <label for="origin_ss">Original Serving Size:</label>
            <label for="desired_ss">Desired Serving Size:</label>
            <br />
            <input type="number" name="origin_ss" id="origin_ss" min="0" value="0" />
            <input type="number" name="desired_ss" id="desired_ss" min="0" value="0" />

            <hr class="divider-long"/>
            Ingredients:
            <br />
            <div id="ingredients_list">
                <div class="ingredient" id="ing_0">
                    <input type="number" step="any" name="qty_0" id="qty_0" min="0" value="0.0" />
                    <select type="text" name="meas_0" id="meas_0">
                        <option value="tsp">tsp</option>
                        <option value="Tbsp">Tbsp</option>
                        <option value="oz">oz</option>
                        <option value="lb">lb</option>
                        <option value="floz">floz</option>
                        <option value="cup">cup</option>
                        <option value="pt">pt</option>
                        <option value="qt">qt</option>
                        <option value="gal">gal</option>
                        <option value="mL">mL</option>
                        <option value="L">L</option>
                        <option value="each">each</option>
                    </select>
                    <input type="text" name="ing_0" id="ing_0" placeholder="ingredient name" />
                    
                </div>
            </div>
            <br />
            <button id="AddIngredient" class="btn btn-primary"> Add + </button>
            <button type="submit" class="btn btn-default"> Submit </button>
        </form>
    </div>

    <div class="col-sm-6 col-sm-offset-1 col-xs-12 bg-faded p-4 my-4">
        <div id="recipe_result">
        </div>
    </div>
</div>