@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="bg-faded p-4 my-4">
        <h1 class="text-center my-0">
           Home Page
        </h1>
        <hr class="divider">
        <p class="text-center">User's favorite recipes will be here.</p>
    </div>
</div>