body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('../images/kitchen-bg-lg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6, .text-heading {
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4rem;
}

.tagline-upper {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}

.tagline-lower {
    font-size: 1.2rem;
    line-height: 1;
}

.text-expanded {
    letter-spacing: 2px;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
    font-size: 1.25rem;
}

.bg-faded-nav {
    background-color: rgba(128, 128, 128, 0.8);
}

.bg-faded {
    background-color: rgba(255, 255, 255, 0.8);
}

.panel-footer {
    background-color: rgba(128, 128, 128, 0.8);
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
    border-color: #292b2c;
    max-width: 250px;
}

hr.divider-long {
    border-color: #292b2c;
}

.map-container iframe {
    pointer-events: none;
}

.map-container iframe.clicked {
    pointer-events: auto;
}

.navbar-inverse .navbar-brand{
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #bf1515;
    font-weight: 500;
}

.navbar-inverse .btn-link{
    color: #fff;
}

.navbar-inverse .btn-link:hover {
    color: #bf1515;
    font-weight: 500;
}

#footer-text{
    color: #fff;
}

.p-4{
    padding: 1.5rem !important;
}

.my-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.my-0-t {
    margin-top: 0rem !important;
}

.my-4-b{
    margin-bottom: 1.5rem !important;
}

.my-4{
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

div:empty {
    display: none !important;
    background-color: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
        padding-left: 15px;
        padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
